@import 'src/styles/constants';

$comicDetailsFormWidth: 19rem;

.comicDetails {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: $gridBase;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: $bpXs) {
        justify-content: unset;
    }

    .form {
        width: $comicDetailsFormWidth;
        display: grid;
        grid-gap: $gridTiny;

        @media screen and (max-width: $bpXs) {
            width: 100%;
        }
    }

    .buttons {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: $gridBase;
        justify-content: end;
        align-items: center;
    }
}
