@import 'src/styles/constants';

$headerBoxShadow: 0 4px 5px 0 rgba(0, 0, 0, 0.75);
$headerIconSize: 2.5rem;

.header {
    position: fixed; // TODO research sticky position issue caused by Virtual Rendering list
    top: 0;
    width: 100%;
    height: $headerHeight;
    box-shadow: $headerBoxShadow;
    z-index: $headerZIndex;
    background-color: white; // TODO use a color from constants.scss

    .headerContent {
        height: 100%;
        max-width: $mainContentWidth;
        margin: 0 auto;
        display: grid;
        grid-gap: $gridMedium;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: $gridMedium $gridLarge;
        color: black;
        text-decoration: none;
    }

    .headerIcon {
        width: $headerIconSize;
        height: $headerIconSize;
    }

    .headerTitle {
        font-size: $fontSizeLarge;
    }
}
