@import 'src/styles/constants';

.appInput {
    width: 100%;
    display: grid;
    grid-template-rows: auto $appControlHeight minmax($appControlErrorSize, auto);
    grid-gap: $gridTiny;

    .label {
        &Invalid {
            color: $errorColor;
        }
    }

    .control {
        border: $appControlBorder;
        padding: $appControlPadding;
        border-radius: $borderRadiusBase;

        &Invalid {
            border-color: $errorColor;
            outline-color: $errorColor;
        }
    }
}
