@import 'src/styles/constants';

.appButton {
    height: $appButtonHeight;
    padding: 0 $gridBase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick; // TODO use theme color from constants
    color: white;
    border-radius: $borderRadiusBase;
    cursor: pointer;
    border: none;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        background-color: gray;
    }
}
