@import 'src/styles/constants';

$comicsCardHeight: 16rem;
$comicsCardBoxShadow: -4px 6px 13px 0px rgba(0, 0, 0, 0.5);
$comicsCardActionsHeight: 2rem;

.comicsCard {
    height: $comicsCardHeight;
    border-radius: $borderRadiusBase;
    box-shadow: $comicsCardBoxShadow;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: minmax(0, 1fr);

    @media screen and (max-width: $bpXs) {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        height: auto;
    }

    .content {
        padding: $gridMedium $gridBase;
        display: grid;
        grid-gap: $gridBase;
        grid-template-rows: $comicsCardActionsHeight auto auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'title actions' 'date date' 'creators creators' 'description description';

        @media screen and (max-width: $bpXs) {
            grid-gap: $gridMedium;
            grid-template-rows: auto auto auto;
            grid-template-areas: 'title' 'creators' 'actions';
            align-items: unset;
            padding: $gridMedium;
        }
    }

    .thumbnail {
        object-fit: fill;
        height: 100%;
        aspect-ratio: 0.7;

        @media screen and (max-width: $bpXs) {
            width: 100%;
            height: unset;
        }
    }

    .actions {
        grid-area: actions;
        display: flex;
        flex-direction: row;
        gap: $gridMedium;
        justify-content: center;
        align-items: center;
    }

    .title {
        align-self: center;
        grid-area: title;
        font-size: $fontSizeLarge;
        font-weight: bold;

        @media screen and (max-width: $bpXs) {
            font-size: $fontSizeBase;
        }
    }

    .description {
        grid-area: description;
        font-size: $fontSizeSmall;
        overflow: scroll;

        @media screen and (max-width: $bpXs) {
            display: none;
        }
    }

    .creators {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: $gridTiny;
        grid-area: creators;

        @media screen and (max-width: $bpXs) {
            grid-template-columns: 1fr;

            & > p:first-child {
                display: none;
            }
        }
    }

    .date {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-items: center;
        grid-gap: $gridTiny;
        grid-area: date;

        @media screen and (max-width: $bpXs) {
            display: none;
        }
    }

    .primaryText {
        font-weight: bold;
    }

    .secondaryText {
        font-size: $fontSizeSmall;
    }
}
