@import 'src/styles/constants';

.appTextarea {
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax($appControlHeight, auto) minmax($appControlErrorSize, auto);
    grid-gap: $gridTiny;

    .label {
        &Invalid {
            color: $errorColor;
        }
    }

    .control {
        padding: $appControlPadding;
        border: $appControlBorder;
        border-radius: $borderRadiusBase;
        resize: none;

        &Invalid {
            border-color: $errorColor;
            outline-color: $errorColor;
        }
    }
}
