@import 'src/styles/constants';

:global {
    .app-list-container {
        display: flex;
        flex-direction: column;

        > *:not(:last-child) {
            padding-bottom: $gridBase;
        }
    }
}

.listFooter {
    display: flex;
    justify-content: center;

    .listFooterSpinner {
        margin: $gridMedium;
    }
}
