@import 'src/styles/constants';

.main {
    position: relative;
    height: 100%;

    .content {
        max-width: $mainContentWidth;
        min-height: calc(100% - $footerHeight);
        margin: 0 auto 0 auto;
        padding: $gridLarge + $headerHeight $gridLarge $gridLarge $gridLarge;
    }
}
