$mainContentWidth: 80rem;
$headerHeight: 3.75rem;
$footerHeight: 3rem;
$headerZIndex: 200;
$footerZIndex: 200;

$fontSizeTiny: 0.7rem;
$fontSizeSmall: 0.9rem;
$fontSizeBase: 1rem;
$fontSizeLarge: 1.4rem;

$fontFamily: Roboto, sans-serif;

$gridTiny: 0.3rem;
$gridMedium: 0.6rem;
$gridBase: 1.3rem;
$gridLarge: 3rem;

$borderRadiusBase: 5px;

$appButtonHeight: 2.5rem;

$appControlHeight: 2.5rem;
$appControlPadding: 0.3rem 0.6rem;
$appControlErrorSize: 1rem;

// Screen width breakpoints
$bpXs: 768px;
$bpSm: 960px;
$bpMd: 1280px;
$bpLg: 1920px;
